<div class="container">
	<div class="jumbotron text-center">
		<h1>The Dogs of Doggy Rate</h1>
		<p>Click on a dog to see their profile and rate them</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<% @dogs.each do |dog| %>
			<div class="col-sm-4 image-title">
			<%= link_to "#{dog.name} the #{dog.breed}", dog_path(dog) %><br>
				<div class="media ">
			  		<div class="media-left">
			    	<%= image_tag(dog.picture.image.url, class: 'media-object super-small-image') %>
			  		</div>
				</div>
			</div>
		<% end %>
	</div>	
</div>


