<div class="container-fluid">
	<div class="jumbotron text-center">
		<h1>Welcome to Doggy Rate!</h1>
		<p>Create profiles for your furry friends</p>
		<p>Review other dogs</p>
		<p>Review Users</p>
	</div>
</div>